.posts-container{
    overflow: auto;
    background-color:#1c668d;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    padding-top: 0px;
    height: 22rem;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
   
    .posts-container{
        height: 31rem;
    }

}

.posts-container::-webkit-scrollbar{
    display: none;
}
.post{
    background-color:#398ab9;
    color: #ecf1f5;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-bottom: 1rem;
    
}
.post-head{
    padding: 1rem;
    display:flex;
    align-items: center;
}
.post-title{
    font-size: xx-large;
    font-weight: 600;
}
.post-author-name{
    margin-left: auto;
}
.post-message{
    padding: 1rem;
    padding-top: 0px;

}